*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
}

body {
min-height: 100vh;
font-family: sans-serif;
background-color: #faf5ff;
text-align: center
;

/* background-color: #e0e7ff; */

}


:root{
  --color:rgb(139 92 246);
  --text-color:rgb(75 85 99);
  --card-backgraund-front:rgb(42 45 58);
  --card-backgraund-back:rgb(126 105 171);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
